{% extends "admin/challenges/create.html" %}

{% block header %}
<div class="alert alert-secondary" role="alert">
	Oracle challenge blah blah blah
</div>
{% endblock %}


{% block value %}

<div class="form-group">
	<label>
		Value<br>
		<small class="form-text text-muted">
			This is how many points are rewarded for solving this challenge.
		</small>
	</label>
	<input type="number" class="form-control" name="value" placeholder="Enter value" required>
</div>

<div class="form-group">
	<label>
		Oracle<br>
		<small class="form-text text-muted">
			This is is the endpoint that is queried when a challenge is created or a solve is attempted.
		</small>
	</label>
	<input type="url" class="form-control" name="oracle" placeholder="http://127.0.0.1:4001" title="Use here the public IP of the VM" required>
</div>

<div class="form-group">
	<label>
		Challenge Secret<br>
		<small class="form-text text-muted">
			This is the secret used to authenticate to the endpoint and generate the flags for your challenge.
		</small>
	</label>
	<input type="text" class="form-control" name="challenge_secret" placeholder="<your_flag_token_here>" required>
</div>

<input type="hidden" name="state" value="hidden">
<input type="hidden" name="type" value="oracle" id="chaltype">

{% endblock %}

{% block type %}
<input type="hidden" value="oracle" name="type" id="chaltype">
{% endblock %}