{% extends "admin/challenges/update.html" %}

{% block value %}

<div class="form-group">
	<label>
		Oracle<br>
		<small class="form-text text-muted">
			This is is the endpoint that is queried when a challenge is created or a solve is attempted.
		</small>
	</label>
	<input type="url" class="form-control" name="oracle" value="{{ challenge.oracle }}" required>
</div>

<div class="form-group">
	<label>
		Challenge secret<br>
		<small class="form-text text-muted">
			This is the secret used to authenticate to the endpoint and generate the flags for your challenge.
		</small>
	</label>
	<input type="text" class="form-control" name="challenge_secret" value="{{ challenge.challenge_secret }}" required>
</div>

<div class="form-group">
	<label>
		Value<br>
		<small class="form-text text-muted">
			This is how many points teams will receive once they solve this challenge.
		</small>
	</label>
	<input type="number" class="form-control chal-value" name="value" value="{{ challenge.value }}" required>
</div>

{% endblock %}
